[Desktop Entry]
Version=1.0
Type=Application
Name="IntelliJ IDEA"
Exec="/opt/intellij/latest/bin/idea.sh" %f
Icon="/opt/intellij/latest/bin/idea.png"
Comment="Develop with IntelliJ!"
Categories="Development;IDE"
Terminal=false
StartupNotify=true
StartupWMClass="jetbrains-intellij"
